[BOARD]
BoardSize = 35
; DiceAssignment = ; flat orig
DiceAssignment = orig
; AreaAssignment = ; continuous orig
AreaAssignment = continuous
; Average number of dice per area at the start of the game
DiceDensity = 2

[GAME]
MaxDicePerArea = 8
; DeploymentMethod = ; limited unlimited
DeploymentMethod = unlimited
; Limit on (reserve + production) in dice
ReserveProductionCap = 64
; Reserve type. 'constant' means that ReserveSizeCap is applied; 'complement' means that (ReserveSizeCap - #areas) is the effective cap
ReserveType = complement
; Limit on reserve itself, in dice
ReserveSizeCap = 24
; Sets the minimum needed for unsuccessfull attack to deal damage.
; Works in multiplies, e.g. with 4, area with 1--3 dice deal no dmg, 4--7 deal 1, 8--11 deal 2 etc.
; Turn off by setting value larger than MaxDicePerArea
BattleWearMinimum = 4
; Maximum number of rounds without an attack. Everybody loses the game once exceeded
MaximumNoBattleRounds = 8
; Maximum number of battles in a game. Everybody loses the game once exceeded. 
; In 2019, a test over 10k games showed 5671 battles as the highest number 
MaximumBattlesPerGame = 10000

[AI_DRIVER]
; on the limit of transfers is exceeded, AIDrives takes over and sends an end_turn. Does not disable the AI for next turns.
MaxTransfersPerTurn = 6
; amount of time allowed for AI to construct itself. In seconds.
TimeLimitConstructor = 10.0
; Parameters of Fischer clock. In seconds.
FischerInit = 10.0
FischerIncrement = 0.25
